body {
  background-image: url("../assets/imgs/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #fff;
  font-family: "Kanit", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 1rem;
}
a:hover {
  color: #fff;
}
.title-box {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #190122c1;
}
.body-menu-left {
  width: 100%;
  user-select: none;
  color: aliceblue;
  position: fixed;
  z-index: 10;
  /* left: -8rem; */
  transition: 1s;
}
.shadow-menu-left {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.541);
}
.owl-box {
  padding: 3rem;
  padding-left: 4%;
}
.owl-img {
  width: 95%;
}
.menu-left {
  position: fixed;
  z-index: 111;
  left: -15rem;
  width: 15rem;
  transition: all 0.5s ease-out;
  height: 100vh;
  transform: translateX(0rem);
  background-color: #1c001dc4;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}
.title-left-box {
  background: linear-gradient(175deg, #6b0b0b 30%, #021818);
  /* padding: 1rem; */
}
.title-left-box div {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
.slide-li-menu {
  padding: 1rem;
  cursor: pointer;
}
.slide-li-menu a {
  font-size: 1rem;
  color: #fff;
}
.slide-li-menu:hover a {
  color: #c74b4b;
}
.slide-li-menu:hover {
  background: linear-gradient(175deg, #6b0b0b 30%, #021818);
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.menu-left::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.menu-left::-webkit-scrollbar {
  width: 10px;
}

.menu-left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}
.curcer {
  cursor: pointer;
}
.body-page {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.548);
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  /* max-height: 5rem; */
  margin: 0;
  padding: 0;
}
.box-title i {
  font-size: 2rem;
  /* background-color: rgb(151, 151, 151); */
}
.box-title a {
  height: 5rem;
  font-size: 1rem;
}

#bt-myDIV1:hover {
  cursor: pointer;
}
#bt-myDIV2:hover {
  cursor: pointer;
}
#myDIV1 {
  margin-top: -0.5rem;
  border: 3px solid #1d222e;
  /* animation: fade-out 4s; */
}
.img-fix2 {
  position: fixed;
  z-index: 3;
  width: 7rem;
  padding: 0;
  height: 15.5rem;
  transform: translateX(-50%);
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.star2 {
  padding: 0;
  width: 100%;
  object-fit: cover;
  height: 9rem;
  object-position: 100% 90%;
}
.promotion {
  width: 15rem;
  position: absolute;
  background: linear-gradient(90deg, #380635 40%, #031616);
  border-radius: 1rem;
  border: 3px solid #a58556;
  box-shadow: -5px -5px 10px #000;
  padding: 1rem;
  transform: translateX(-50%);
  top: -3rem;
  left: 50.5%;
  /* transform: translateY(-50%); */
  font-size: 2rem;
}
.promotion2 {
  position: absolute;
  padding: 1rem;
  transform: translateX(-50%);
  top: -4.5rem;
  left: 50.5%;
  /* transform: translateY(-50%); */
  font-size: 2rem;
}
.btn-sign-up {
  width: 100%;
  margin-right: auto;
  text-align: center;
  border-radius: 2rem;
  background-image: linear-gradient(171deg, #e06060, #b32b2b 51.68%, #922d2d);
}
.btn-sign-up2 {
  border-radius: 2rem;
  background-image: linear-gradient(171deg, #e06060, #b32b2b 51.68%, #922d2d);
}
.btn-sign-up3 {
  margin-right: auto;
  text-align: center;
  border-radius: 2rem;
  background-image: linear-gradient(171deg, #e06060, #b32b2b 51.68%, #922d2d);
}
.base-color {
  color: #ffc2b7;
}
hr.x-hr {
  height: 3px;
  /* border: 10px; */
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    #580000,
    #eb7b7b 30%,
    #c26a6a 70%,
    #490000
  );
  width: 100%;
  text-align: center;
}
.owllll {
  margin-top: 9%;
  width: 85%;
}
.bg-xx {
  background-image: url("../assets/imgs/bg.jpg");
}
.box-border-page1 {
  background: linear-gradient(90deg, #380606ad 40%, #031616);
  border-radius: 40px;
  border: 3px solid #a58556;
  box-shadow: -5px -5px 10px #000;

  margin: auto;
}
.box-border-page2 {
  background: linear-gradient(90deg, #380606ad 40%, #031616);
  border-radius: 40px;
  /* border: 3px solid #a58556; */
  box-shadow: -5px -5px 10px #000;
  width: 100%;
}
.box-border-page3 {
  background: linear-gradient(90deg, #380606ad 40%, #031616);
  border-radius: 10px;
  box-shadow: -5px -5px 10px #000;
  /* width: 100%; */
}
.box-footer {
  background: linear-gradient(90deg, #710000ad 40%, #031616);
}
.box-comment {
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 1.5rem;
  width: 98%;
}
.review {
  background: linear-gradient(90deg, #852121 40%, #660c0c);
  color: #fff;
  position: absolute;
  width: 101%;
  top: -1rem;
  left: -0.5%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-style: 2rem;
}
.pro {
  background: linear-gradient(90deg, #852121 40%, #660c0c);
  color: #fff;
  position: absolute;
  width: 20rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transform: translateX(-50%);
  top: -2rem;
  left: 50.5%;
}
.pro-img {
  margin-top: 1rem;
  border-radius: 1rem;
}
.phone {
  display: none;
}
.menubar-mini {
  display: none;
}
.menubar-tap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  text-align: center;
}
.menubar-tap a {
  color: #fa4f00;
}
.menubar-tap i {
  font-size: 2rem;
}
.img-head {
  height: 100%;
  margin-left: 1rem;
}
.img-fr {
  width: 80%;
}
.box-border-owl {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.jo {
  width: 100%;
  border-radius: 2rem;
  background-color: #1e0227ea;
}
@media screen and (max-width: 787px) {
  .img-head {
    margin-top: 1rem;
    height: 60%;
    margin-left: 0;
  }
  .owllll {
    margin-top: 9%;
    width: 90%;
  }
  .owl-box {
    margin-top: 2rem;
    padding: 0rem;
    padding-left: 5%;
  }
  .owl-img {
    width: 90%;
  }
  .menubar-mini {
    height: 70px;
    width: 104%;
    position: fixed;
    z-index: 10;
    background-image: url("../assets/imgs/bar.png");
    background-size: cover;
    background-position: center;
    bottom: -0.2rem;
    display: flex;
    padding-top: 0.1rem;
  }
  .imgooo {
    position: absolute;
    transform: translateX(-50%);
    bottom: 0.5rem;
    left: 50%;
    width: 7rem;
    /* box-shadow: -5px -5px 10px #000; */
    border-radius: 4rem;
  }
  .img-bar {
    width: 3.5rem;
  }
  .btn-mini {
    font-size: 0.7rem;
    padding: 2px;
    margin: 2px;
  }
  .promotion {
    width: 7rem;
    position: absolute;
    background: linear-gradient(90deg, #380606 40%, #031616);
    border-radius: 0.2rem;
    border: 1px solid #a58556;
    box-shadow: -5px -5px 10px #000;
    padding: 0.5rem;
    transform: translateX(-50%);
    top: -3rem;
    left: 50.5%;
    /* transform: translateY(-50%); */
    font-size: 0.7rem;
  }
  .promotion2 {
    width: 8rem;
    top: -2rem;
    border-radius: 0.2rem;
  }
}
